.dashboard-right {
  position: relative;
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  padding-top: 10px;
  padding-right: 10px;

  .dashboard-stats {
    max-width: 500px;
    max-height: 428px;
  }

  .dashboard-info {
    position: absolute;
    max-width: 500px;
    max-width: 500px;
    left: 0px;
    right: 10px;
    bottom: 0px;
    top: 442px;

    .panel {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      top: 0px;

      .info {
        flex-direction: column;
        flex: 1;
      }
    }

    .description {
      position: absolute;
      overflow: scroll;
      bottom: 5px;
      top: 252px;
      right: 10px;
      left: 17px;
    }

    .list-thumb {
      max-width: 97px;
      height: 97px;
      margin-right: 10px;
      margin-bottom: 4px;
    }

    .badge {
      margin-bottom: 3px;
      font-size: 20px;
      padding-top: 5px;
    }

    .table {
      margin-top: 7px;
      margin-bottom: 0px;
    }
  }
}

.dashboard-issues {
  position:relative;
  -webkit-flex: 1;
  flex:1;
  padding: 10px;

  .panel {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;

    .panel-body {
      position: absolute;
      overflow: scroll;
      top: 50px;
      bottom: 10px;
      left: 10px;
      right: 0px;
      padding: 0 10px 0 0;

      .list-group {
        padding-left: 0;
        margin-bottom: 0px;
        position:relative;
        overflow: hidden;

        .list-thumb {
          max-width: 60px;
          height: 60px;
          margin-right: 10px;
        }
      }
    }
  }
}