.issue {
  position: relative;

  .description {
    position: absolute;
    overflow: scroll;
    bottom: 5px;
    top: 252px;
    right: 10px;
    left: 17px;
  }

  .list-thumb {
    max-width: 97px;
    height: 97px;
    margin-right: 10px;
  }

  .badge {
    margin-bottom: 3px;
  }
}