.issue {
  position:relative;
  -webkit-flex: 1;
  flex:1;
  padding: 10px;

  .panel {
    position: absolute;
    left: 0px;
    right: 10px;
    bottom: 10px;
    top: 10px;
  }

  .description {
    position: absolute;
    overflow: scroll;
    bottom: 5px;
    top: 252px;
    right: 10px;
    left: 17px;
  }

  .list-thumb {
    max-width: 97px;
    height: 97px;
    margin-right: 10px;
  }

  .badge {
    margin-bottom: 3px;
  }
}