.issues-aside {
  position: relative;
  min-width: 450px;
  max-width: 450px;

  .panel .panel-body {
    overflow: scroll;
    width: 100%;
    max-height: calc(100vh - 118px);
  }

  .panel .panel-body .list-group {
    padding-left: 0;
    margin-bottom: 0px;
  }

  .list-thumb {
    max-width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}